@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Quicksand:wght@400;700&display=swap'); */

/* @font-face {
    font-family: "Dicoding Font";
    src: url('FILE-FONT.TTF');
 } */

 /* p {
    font-family: "Dicoding Font";
 } */

body{
    font-family: 'Quicksand', sans-serif;
}

h2, h3{
    color: #00a2c6;
}

nav a:hover {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.profile header {
    text-align: center;
}

/* h3{
    color: #00a2c6;
} */

footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

